<%
  myTitle = ""
  if store_name
    myTitle = store_name   # the default
  end
   if store_title && (store_title.length > 0)
      myTitle = store_title
      if store_name && (store_name.length > 0)
         myTitle.sub!('__STORE__',store_name)
      end
  end
%>
<% content_for :title do  %>
<title><%= myTitle %></title>
<% end %>

<% content_for :sidebar do %>
	<%= render :partial => "shared/taxonomies" %>
<% end %>

<%= render :partial => "shared/products.html.erb", :locals => {:products => @products, :taxon => @taxon } %>

<%= page_links(:prev => "&#171; #{t('previous')}", :next => "#{t('next')} &#187;") if @search.page_count > 1 %>
